.App {
    --header_height: 60px;
    padding: 20px;
    width: 1280px;
    margin: 0 auto;

}

.hw {
    display: flex;
    flex-direction: column;

}

.hwTitle {

}
.wrapper {
    display: flex;
    flex-direction: column;

}